path {
            stroke: #295BFF;
            stroke-width: 1;
            fill: none;
        }

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.circle {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
}