#canvas{

    position: absolute;
    border: 1px dotted;
}
#canvas2{
    margin-top: 50px;
    margin-left: 80px;
    position: absolute;
    border: 1px solid;
    }

#rawdata{
      display: none;
}

